@font-face {
  font-family: "SF Pro Display";
  src: url("C:/Windows/Fonts/SF Pro Display");
}

html {
  scroll-behavior: smooth;
}

body {
  height: 3800px;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
  background-color: #cae5f8;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.satu {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #8acae6;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.item {
  padding: 25px;
}

.item:hover {
  background-color: #7cb5ce;
}

.container {
  display: none;
  cursor: pointer;
  position: absolute; /* Make sure the container is positioned relative to its parent */
  top: 15px; /* Adjust as needed */
  right: 45px; /* Adjust as needed */
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.dua {
  width: 100%;
  height: 10px;
  background-color: red;
}

.tiga {
  width: 100%;
  padding: 3px;
  color: red;
  background-color: white;
  font-size: 7px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

section {
  width: 100%;
  height: 760px;
  justify-content: center;
  text-align: center;
}

#landing {
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
  padding: 300px 0px 150px 0px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(rgba(0, 0, 0, 0), #cae5f8, #cae5f8, #cae5f8, #cae5f8, #cae5f8, #cae5f8, rgba(0, 0, 0, 0));
  transform: translateY(-30%);
}

img {
  width: 80%;
}

.pindpk {
  position: absolute;
  top: 50%; /* Menempatkan elemen di tengah vertikal gambar */
  left: 50%; /* Menempatkan elemen di tengah horizontal gambar */
  transform: translate(-650%, 115%); /* Menggeser elemen ke titik tengah gambar */
}

.info {
  display: none;
  position: absolute;
  top: 455px;
  left: 200px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.pindpk:hover + .info {
  display: block;
}

.background {
  position: fixed;
  z-index: -1;
  font-size: 100px;
  font-weight: bold;
}

.topground {
  position: fixed;
  color: rgba(0, 0, 0, 0.3);
  font-size: 100px;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}

.responsive {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #cae5f8;
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

@media only screen and (max-width: 1280px) {
  .topground,
  .background {
    font-size: 50px;
    line-height: 1.1; /* Mengurangi jarak antar baris */
    right: 78px;
    top: 347px;
  }

  .pindpk {
    position: absolute;
    top: 50%; /* Menempatkan elemen di tengah vertikal gambar */
    left: 50%; /* Menempatkan elemen di tengah horizontal gambar */
    transform: translate(-240%, -3%); /* Menggeser elemen ke titik tengah gambar */
  }

  .info {
    display: none;
    position: absolute;
    top: 405px;
    left: 160px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
  }

  .menu {
    display: none;
    position: fixed;
    top: 0px; /* Adjust as needed */
    right: 70px; /* Adjust as needed */
    background-color: #8acae6;
    flex-direction: column;
    padding: 0px;
    z-index: 1000;
  }

  .menu.show {
    display: flex;
  }

  .container {
    display: inline-block;
    position: fixed; /* Make sure the container is fixed */
    top: 20px; /* Adjust this value to move it up or down */
    right: 25px; /* Adjust this value to move it left or right */
  }
}
